.flex-container {
    display: flex;
    background-color: rgb(7, 7, 133);
  }
  
  .flex-container > div {
    background-color: #f1f1f1;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
  }
  